*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navigation
{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 8px 8px #888888;
}
.logo
{
    margin-left: 20px;
}
.logo span
{
    color: blue;
}
.navbar 
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 50px;
    transition: all  0.5s ease-in-out;
}
.navbar li
{
    list-style-type: none;
    margin-left: 20px;
    cursor: pointer;
    transition: ease 0.5s all;
}
.navbar li:hover
{
    color: #888888;
}
.hamburger
{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    cursor: pointer;
    float: right;
    margin-right: 40px;
   
}
.hamburger span
{
    background-color: black;
    width: 28px;
    height: 2px;
    margin-bottom: 8px;
}
.hamburger
{
    display: none;
}

@media only screen and (max-width:900px)
{
    .navigation
    {
        box-shadow: 3px -1px 8px #888888;
    }
    .hamburger
    {
        display: flex;
    }
    #nav-ul
    {
        position: fixed;
        width: 0;
        height: 100vh;
        left: 0;
        right: 0px;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content:left;
        align-items: baseline;
        margin-top: 72px;
        opacity: 0;
        box-shadow: 2px 8px 8px #888888;
        transition: all  0.5s ease-in-out;
       
    }
    #nav-ul.open
    {
        opacity: 1;
        transition: all  0.5s ease-in-out;
        width: 40%;
    }
    #nav-ul li 
    {
       
      padding: 20px;
        
    }
    .hamburger span
    {
       transform-origin: left;
       transition: all .5s ease-in-out;
    }
}

@media only screen and (max-width:400px)
{
    #nav-ul li 
    {
       font-size: 10px;
    }
}